/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* navbar design start here */
.img{
    text-align: left;
}
.nav-heading h1{
 text-align: right;
}
.menu-bar{
    flex-direction: row;
    justify-content: flex-end;
}
.menu-bar a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}
/* navbar design start here */


/* profile design starts here */
.profile .weather1{
    height: 100px;
    width: 100px;
    position: absolute;
    right:100px;
    top: 20px;
    transition:width 2s, transform 2s;
}
.profile .weather1:hover{
    width: 150px;
}
.profile .weather2{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 100px;
    bottom: 30px;
    transition: transform 3s;
}
.profile .weather2:hover{
    transform: rotate(360deg);
}
.profile-desc p{
    color: gray;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
}
/* profile design ends here */

/* about me design starts here */
.about-me-img img{
    height: 270px;
    width: 250px;
}
.aboutme-desc p{
    text-align: left;
}
/* about me design ends here */
.contact button{
    border: none;
    border-radius: 5px;
    background-color: #052d2f;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    width: 80px;
}
.con-list .media-button{
    margin-top: 100px;
}
.footer a{
    display:inline;
    font-size: 0.8rem;
    margin: 10px;
    padding: 5px;
}